@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
        <p>
            Your password has been reset successfully.
        </p>
        <p>
            <a asp-action="Login">Click here to log in</a>
        </p>
    </div>
</div> 