@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hello @UserManager.GetUserName(User)!</span>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <style>
        #sign-up-btn {
            background-color: var(--main-blue);
            color: white;
        }
        #sign-up-btn:hover {
            background-color: var(--main-blue-hover);
        }
    </style>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white bg rounded" id="sign-up-btn" asp-controller="Auth" asp-action="Register">Sign up</a>
    </li>
}
</ul> 